@use "../variables.scss" as v;

.card-additional {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0 38px;
    padding-top: 26px;
    padding-bottom: 28px;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 35% auto 244px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.card-additional__title {
  margin: 0;
  margin-bottom: 13px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 0;
  }
}

.card-additional__table {
  width: 100%;

  @media (min-width: v.$tablet-width) {
    width: auto;
    margin-left: auto;
    text-align: right;

    td {
      min-width: 90px;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
  }
}

.card-additional__link {
  grid-column: 1/-1;

  @media (min-width: v.$desktop-width) {
    width: 244px;
    grid-column: auto;
  }
}
