@use "../variables.scss" as v;

.cooperation {
  display: flex;
  justify-content: space-between;
  padding: 26px v.$mobile-side-indent;

  background-color: v.$white;

  @media (min-width: v.$tablet-width) {
    padding: 58px 70px;
  }

  @media (min-width: v.$desktop-width) {
    width: 565px;
    min-height: 198px;
    padding: 57px 0;
    padding-left: 80px;
    padding-right: 75px;
  }
}

.cooperation--dark {
  background-color: #f2f2f2;
}

.cooperation__description {
  width: 139px;
  margin: 0;

  flex-shrink: 0;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: v.$tablet-width) {
    width: 172px;

    font-size: 20px;
    line-height: 26px;
  }
}

.cooperation__address {
  width: 139px;

  font-style: normal;
  line-height: 20px;
  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    width: 160px;

    font-size: 16px;
    direction: rtl;

    span {
      display: block;
      margin-top: 1em;
    }
  }

  @media (min-width: v.$desktop-width) {
    direction: ltr;
  }
}
