@use "../variables.scss" as v;

.example {
  background-color: #eaeaea;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;

    background: linear-gradient(to bottom, #ffffff 59%, #eaeaea 59%);
  }

  @media (min-width: v.$desktop-width) {
    grid-template-columns: 1fr 1fr;

    background: linear-gradient(to bottom, #ffffff 25%, #eaeaea 25%);
  }
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: v.$tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    grid-column: auto;
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    grid-column: 1/-1;
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: v.$desktop-width) {
    width: 72%;
    grid-column: auto;
    margin-bottom: 69px;
  }
}

.example__results {
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: v.$tablet-width) {
    width: 50%;
    margin-bottom: 85px;
  }

  @media (min-width: v.$desktop-width) {
    width: 100%;
    margin-bottom: 60px;
  }
}

.example__price {
  display: block;
  margin-bottom: 40px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 0;
    margin-top: 13px;

    font-size: 20px;
    text-align: right;

    span {
      display: block;
      margin-top: 9px;
    }
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 75px;
    text-align: start;

    span {
      display: inline-block;
      margin-left: 63px;
    }
  }
}

.example__slider {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (min-width: v.$tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: v.$desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/5;
  }
}
