@use "../variables.scss" as v;

.guide__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.guide__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.guide__item {
  display: flex;
  color: v.$special-text;
  margin-bottom: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;

    background-color: v.$basic-color;
    background-position: center;
  }

  &--1::before {
    background-image: url("../../img/icon-leaf.svg");
  }

  &--2::before {
    background-image: url("../../img/icon-tube.svg");
  }

  &--3::before {
    background-image: url("../../img/icon-eat.svg");
  }

  &--4::before {
    background-image: url("../../img/icon-alarm.svg");
  }
}
