@use "../variables.scss" as v;

.guide__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }
}

.guide__list {
  @include v.list-reset();

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    row-gap: 37px;

    margin-bottom: 27px;
  }

  @media (min-width: v.$desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    gap: unset;
    grid-template-columns: unset;
  }
}

.guide__item {
  display: flex;
  color: v.$special-text;
  margin-bottom: 20px;

  @media (min-width: v.$tablet-width) {
    position: relative;
    flex-direction: column;
    min-height: 280px;
    width: 85%;

    font-size: 16px;
    line-height: 24px;


    @for $i from 1 through 4 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;

        font-family: "Oswald", system-ui;
        font-size: 280px;
        line-height: 205px;
        color: v.$secondary-color;
      }
    }
  }

  @media (min-width: v.$desktop-width) {
    max-width: 250px;
  }

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;

    background-color: v.$basic-color;
    background-position: center;

    @media (min-width: v.$tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &--leaf::before {
    background-image: url("../img/icons/leaf.svg");
  }

  &--tube::before {
    background-image: url("../img/icons/tube.svg");
  }

  &--eat::before {
    background-image: url("../img/icons/eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icons/alarm.svg");
  }
}
