@use "../variables.scss" as v;

.guide__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 74px;
  }
}

.guide__list {
  @include v.list-reset();

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 57px;
    margin-bottom: 26px;
  }

  @media (min-width: v.$desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    gap: unset;
    grid-template-columns: unset;
  }
}

.guide__item {
  display: flex;
  margin-bottom: 20px;

  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    position: relative;

    width: 80%;
    min-height: 240px;
    flex-direction: column;

    font-size: 16px;
    line-height: 24px;

    @for $i from 1 through 4 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";

        position: absolute;
        right: 13px;
        top: 0;
        z-index: -1;

        font-family: "Oswald", system-ui, sans-serif;
        font-size: 280px;
        line-height: 205px;
        color: v.$secondary-color;
      }
    }

    &:nth-child(1)::after {
      right: 35px;
    }
  }

  @media (min-width: v.$desktop-width) {
    max-width: 245px;

    @for $i from 1 through 4 {
      &:nth-child(#{$i})::after {
        right: 0;
      }
    }

    &:nth-child(1)::after {
      right: 25px;
    }
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: v.$basic-color;
    background-position: center;

    @media (min-width: v.$tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }

    @media (min-width: v.$desktop-width) {
      margin-bottom: 32px;
    }
  }

  &--leaf::before {
    background-image: url("../img/icons/leaf.svg");
  }

  &--tube::before {
    background-image: url("../img/icons/tube.svg");
  }

  &--eat::before {
    background-image: url("../img/icons/eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icons/alarm.svg");
  }
}

.guide__item-br {
  @media (min-width: v.$tablet-width) {
    display: block;
  }
}
