@use "../variables.scss" as v;

.input[type="number"] {
  /* stylelint-disable-next-line */
  -moz-appearance: textfield;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  margin: 0;

  appearance: none;
}

.input {
  font-family: "Oswald", system-ui, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
