@use "../variables.scss" as v;

.load-more {
  position: relative;
  padding: 25px v.$mobile-side-indent;

  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
    padding-bottom: 38px;
    padding-left: 37px;
    padding-right: 36px;

    border: 2px solid v.$secondary-color;
  }

  @media (min-width: v.$desktop-width) {
    padding: 37px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 39px;
    left: calc(50% - 15px);
    width: 30px;
    height: 2px;

    background-color: #d3d3d3;

    @media (min-width: v.$tablet-width) {
      top: 80px;
      left: calc(50% - 29px);
      width: 60px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}

.load-more__title {
  display: flex;
  justify-content: center;
  margin-top: 53px;
  margin-bottom: 8px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
  color: #111111;

  @media (min-width: v.$tablet-width) {
    margin: 0 50px;
    margin-top: 135px;
    margin-bottom: 23px;

    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 121px;
  }
}

.load-more__description {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 21px;

  font-family: "Arial", system-ui;
  font-size: 12px;
  line-height: 16px;
  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    margin: 0 30px;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  @media (min-width: v.$desktop-width) {
    margin: 0;
  }
}

.load-more__button {
  display: block;
  width: 100%;
  min-height: 40px;

  border: 0;
  cursor: pointer;

  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: v.$special-text;
  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(v.$special-text, 0.3);
  }

  @media (min-width: v.$tablet-width) {
    margin-top: auto;
  }
}
