@use "../variables.scss" as v;

.main-card {
  padding: 30px 20px 21px 20px;

  background-color: v.$secondary-color;

  @media (min-width: v.$tablet-width) {
    padding: 77px 56px 57px 52px;
  }
}

.main-card__title {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 71px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  color: v.$black;

  @media (min-width: v.$tablet-width) {
    width: 57%;
    margin-left: 0;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    width: auto;
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.main-card__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 20px;

  font-family: "Arial", system-ui, sans-serif;
  color: v.$special-text;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    width: 57%;
    margin-bottom: 31px;

    font-size: 16px;
    line-height: 24px;
    color: v.$black;

    border: none;
  }

  @media (min-width: v.$desktop-width) {
    width: 100%;
    margin-bottom: 8px;
  }
}

.main-card__link {
  display: flex;
  align-items: center;
  padding-bottom: 2px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: v.$black;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: v.$tablet-width) {
    width: 55%;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    display: block;
    width: 41px;
    height: 10px;
    flex-shrink: 0;

    background-position: 95% 50%;
    background-repeat: no-repeat;
    background-image: url("../img/icons/arrow.svg");

    @media (min-width: v.$tablet-width) {
      width: 51px;
    }

    @media (min-width: v.$desktop-width) {
      width: 55px;
    }
  }

  &:hover::after {
    width: 49px;

    background-image: url("../img/icons/arrow-long.svg");

    @media (min-width: v.$tablet-width) {
      width: 59px;
    }

    @media (min-width: v.$desktop-width) {
      width: 63px;
    }
  }
}

.main-card--weight-loss {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: v.$basic-color;
    border-radius: 50%;

    @media (min-width: v.$tablet-width) {
      left: unset;
      top: 92px;
      right: 62px;

      width: 200px;
      height: 200px;
    }

    @media (min-width: v.$desktop-width) {
      right: unset;
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 21px;
    left: 28px;

    display: block;
    width: 36px;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/main-cat-slim.svg");
    background-size: contain;

    @media (min-width: v.$tablet-width) {
      left: unset;
      top: 81px;
      right: 91px;

      width: 140px;
      height: 194px;
    }

    @media (min-width: v.$desktop-width) {
      right: unset;
      top: 41px;
      left: 67px;

      width: 70px;
      height: 97px;
    }
  }
}

.main-card--weight-gain {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: v.$basic-color;
    border-radius: 50%;

    @media (min-width: v.$tablet-width) {
      left: unset;
      top: 91px;
      right: 60px;

      width: 200px;
      height: 200px;
    }

    @media (min-width: v.$desktop-width) {
      right: unset;
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";

    position: absolute;

    display: block;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/main-cat-pro.svg");
    background-size: contain;

    @media (min-width: v.$tablet-width) {
      left: unset;
      top: 135px;
      right: 28px;

      width: 268px;
      height: 112px;
    }

    @media (min-width: v.$desktop-width) {
      right: unset;
      left: 33px;
      top: 67px;

      width: 134px;
      height: 56px;
    }
  }
}
