@use "../variables.scss" as v;

.main-header {
  display: grid;
  grid-template-columns: 3fr 1fr;

  @include v.page-margin;

  @media (max-width: v.$mobile-only-width) {
    position: relative;

    padding-bottom: 9px;
    margin-bottom: 4px;
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    margin-bottom: 62px;
    margin-top: 15px;
  }

  @media (min-width: v.$desktop-width) {
    margin-top: 44px;
    margin-bottom: 24px;
  }
}

.main-header__logo {
  width: min-content;
  margin-top: 10px;
}

.main-header__logo-image {
  width: 34px;
  height: 38px;

  @media (min-width: v.$tablet-width) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: v.$desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-text {
  width: min-content;
  padding-right: 19px;
  margin: 0 auto;
  margin-top: 23px;

  @media (min-width: v.$tablet-width) {
    padding-top: 28px;
    padding-right: 32px;
    margin: 0;
    margin-left: 11px;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 31px;
    margin-left: 13px;
  }
}

.main-header__logo-text-image {
  width: 101px;
  height: 19px;

  @media (min-width: v.$desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.main-header__logo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: v.$tablet-width) {
    display: flex;
    grid-template-columns: none;
    margin-right: auto;
  }
}
