@use "../variables.scss" as v;

.main-catalog {
  @media (min-width: v.$desktop-width) {
    position: relative;
  }
}

.main-catalog__title {
  margin: 0;
  padding: 0 v.$mobile-side-indent;
  padding-top: 27px;
  padding-bottom: 41px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;

  font-family: "Oswald", system-ui;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: v.$tablet-width) {
    padding: 0 v.$tablet-side-indent;
    padding-bottom: 18px;

    border: none;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: v.$desktop-width) {
    padding-left: v.$desktop-side-indent;
    padding-right: v.$desktop-side-indent;
  }
}

.main-catalog__cooperation {
  @media (min-width: v.$desktop-width) {
    position: absolute;
    left: v.$desktop-side-indent;
    bottom: 107px;
    z-index: 1;
  }
}
