@use "../variables.scss" as v;

.main-footer {
  margin-top: auto;
  padding: 0 v.$mobile-side-indent;
  padding-top: 39px;
  padding-bottom: 22px;

  background-color: v.$secondary-color;

  @media (min-width: v.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 v.$tablet-side-indent;
    padding-top: 46px;
    padding-bottom: 44px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 0 v.$desktop-side-indent;
    padding-top: 45px;
    padding-bottom: 46px;
  }
}

.main-footer__logo {
  display: block;
  width: min-content;
  margin: 0 auto;
  margin-bottom: 27px;

  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }

  @media (min-width: v.$tablet-width) {
    margin: 0;
  }
}
