.main-form__title {
  margin-top: 27px;
  margin-bottom: 37px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-form__advice {
  display: block;
  margin-bottom: 39px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  text-transform: uppercase;
}

.main-form__tip {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  line-height: 16px;
}
