@use "../variables.scss" as v;

.main-card {
  padding: 21px 33px 21px 20px;
  background-color: v.$secondary-color;

  @media (min-width: v.$tablet-width) {
    padding: 77px 60px 57px 52px;
  }
}

.main-card__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  color: v.$black;

  @media (min-width: v.$tablet-width) {
    width: 55%;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    width: auto;
    margin-bottom: 73px;
    text-align: center;
  }
}

.main-card__description {
  margin: 0;
  margin-bottom: 42px;

  font-family: "Arial", system-ui;
  color: v.$special-text;

  @media (min-width: v.$tablet-width) {
    width: 55%;

    font-size: 16px;
    line-height: 24px;
    color: v.$black;
  }

  @media (min-width: v.$desktop-width) {
    width: 100%;
    margin-bottom: 27px;
  }
}

.main-card__link {
  display: block;

  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: v.$black;

  @media (min-width: v.$tablet-width) {
    width: 55%;

    font-size: 20px;
    line-height: 30px;
  }
}
