@use "../variables.scss" as v;

.main-nav {
  @media (max-width: v.$tablet-width) {
    position: relative;
    z-index: 1;

    &:hover .main-nav__list {
      display: block;
      background-color: v.$white;
    }
  }
}

.main-nav__list {
  display: none;

  @include v.list-reset();

  @media (min-width: v.$tablet-width) {
    display: flex;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;

  font-family: "Oswald", system-ui;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: v.$black;

  a {
    color: inherit;
  }
}

.main-nav__toggle {
  @media (min-width: v.$tablet-width) {
    display: none;
  }
}
