@use "../variables.scss" as v;

.map__inner {
  position: relative;
  overflow: hidden;
}

.map__link {
  position: absolute;
  top: 0;

  font-size: 12px;
  color: #eeeeee;
}

.map__link-place {
  position: absolute;
  top: 14px;

  font-size: 12px;
  color: #eeeeee;
}

.map__frame {
  position: relative;
  border: none;
  margin-bottom: -4px;

  background-image: url("../img/map.jpg");
  background-size: contain;
  height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.jpg");
  }

  @media (min-width: v.$tablet-width) {
    height: 400px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  @media (min-width: v.$desktop-width) {
    background-image: url("../img/map-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }
}
