@use "../variables.scss" as v;

.product-description {
  font-weight: 400;
  color: v.$special-text;

  border-spacing: 0;
}

.product-description__body {
  th {
    font-weight: inherit;

    @media (min-width: v.$desktop-width) {
      text-align: left;
    }
  }

  td {
    // padding-right: 5px;

    text-align: right;
  }

  tr {
    border-bottom: 1px solid #cdcdcd;
  }
}

.product-description__cell {
  font-size: 12px;
  line-height: 16px;

  padding: 0;

  @media (min-width: v.$tablet-width) {
    font-size: 16px;
    line-height: 30px;
    border: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: v.$desktop-width) {
    padding-bottom: 0.5px;
  }
}
