@use "../variables.scss" as v;

$programs-side-indent: 87px;

.programs {
  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
  }
}

.programs__inner {
  min-width: 320px;
  min-height: 302px;
  margin: 0 auto;
  padding: 0 35px;
  padding-top: 27px;
  padding-bottom: 150px;

  background-image: linear-gradient(to top, rgba(v.$basic-color, 0.85), rgba(v.$basic-color, 0.85)), url("../img/main-background-cat.jpg");
  background-size: cover;
  background-color: v.$basic-color;

  color: v.$white;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/main-background-cat@2x.jpg");
  }

  @media (min-width: v.$tablet-width) {
    width: auto;
    min-height: 0;
    margin-left: $programs-side-indent;
    padding: 0;

    order: -2;

    color: v.$black;
    background: initial;
  }

  @media (min-width: v.$desktop-width) {
    margin-top: 83px;
    margin-left: calc($programs-side-indent - 7px);
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 25px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    width: 420px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: v.$desktop-width) {
    position: relative;
    z-index: 1;

    width: 100%;
  }
}

.programs__slogan {
  margin: 0 auto;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: v.$tablet-width) {
    width: 420px;
    margin: 0;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 49px;
  }
}

.programs__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -135px;
  margin-bottom: 3px;

  @media (min-width: v.$tablet-width) {
    position: relative;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin-bottom: 0;
    margin-top: -103px;
  }

  @media (min-width: v.$desktop-width) {
    left: -162px;
    z-index: 0;

    width: 552px;
    height: 499px;
    margin: 0;
    margin-bottom: 136px;
  }
}

.programs__image-wrapper {
  @media (min-width: v.$desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/3;
  }
}

.programs__link-wrapper {
  @media (max-width: v.$mobile-only-width) {
    margin: 0 v.$mobile-side-indent;
  }

  @media (min-width: v.$tablet-width) {
    order: -1;
  }
}

.programs__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  max-width: 500px;
  min-height: 40px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-family: "Oswald", system-ui, sans-serif;
  text-transform: uppercase;
  color: v.$white;

  background-color: v.$basic-color;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(v.$white, 0.3);
  }

  @media (min-width: v.$tablet-width) {
    width: 244px;
    min-width: unset;
    min-height: 54px;
    margin-left: calc($programs-side-indent + 3px);

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 267px;
    margin-left: calc($programs-side-indent - 7px);
  }
}

.programs__link-content {
  padding: 7px 8px;

  @media (min-width: v.$tablet-width) {
    padding: 14px 16px;
  }
}

.programs__cards-list {
  @include v.list-reset;
  @include v.page-margin;

  @media (min-width: v.$tablet-width) {
    margin: 0;
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    grid-column: 1/-1;
  }
}

.programs__main-card {
  margin-bottom: 20px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 30px;
  }
}
