@use "../variables.scss" as v;

.programs-form__fieldset {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  border: 0;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 42px;
  }
}

.programs-form__field {
  position: relative;

  display: flex;
  margin-bottom: 14px;
  align-items: center;

  cursor: pointer;

  &--event:hover .programs-form__radio-mark,
  &--event:hover .programs-form__checkbox-mark {
    border-color: #bababa;
  }

  &--event:disabled {
    opacity: 0.3;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 17px;
  }
}

.programs-form__field-additional {
  margin-bottom: 12px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 32px;
  }
}

.programs-form__radio-mark {
  position: relative;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: v.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.programs-form__field-radio:checked + .programs-form__radio-mark::before {
  content: "";

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  display: block;
  width: 13.5px;
  height: 13.5px;

  border-radius: 50%;
  background-color: v.$basic-color;

  @media (min-width: v.$tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.programs-form__checkbox-mark {
  position: relative;

  width: 30px;
  height: 30px;

  border: 1px solid #cdcdcd;

  @media (min-width: v.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.programs-form__field-checkbox:checked + .programs-form__checkbox-mark::before {
  content: "";

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../img/icons/tick.svg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: v.$tablet-width) {
    background-image: url("../img/icons/big-tick.svg");
  }
}


.programs-form__field-label {
  margin-right: 13px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: v.$special-text;

  white-space: nowrap;

  &--radio {
    padding-left: 15px;

    @media (min-width: v.$desktop-width) {
      padding-left: 18px;
    }

    color: #222222;
  }

  &--checkbox {
    padding-left: 16px;

    color: v.$black;
  }

  @media (min-width: v.$tablet-width) {
    margin-left: 5px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: v.$desktop-width) {
    margin-left: 0;
  }
}

.programs-form__field-control {
  position: relative;

  width: 100%;
  min-height: 45px;
  padding: 5px 14px;
  padding-right: 35px;
  align-self: flex-end;

  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-width: 2px;
    padding-left: 13px;
    border-color: v.$special-text;
    outline: none;

    & + svg {
      color: v.$basic-color;
    }

    @media (min-width: v.$tablet-width) {
      padding-left: 21px;
    }
  }

  &:focus:invalid {
    border-color: v.$status-error;

    & + svg {
      color: v.$status-error;
    }
  }

  &::placeholder {
    font-family: "Oswald", system-ui, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: v.$special-text;

    opacity: 1;

    @media (min-width: v.$tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: v.$tablet-width) {
    min-height: 52px;
    padding-right: 40px;
    padding-top: 2px;
    padding-left: 22px;
  }
}

.programs-form__legend {
  position: relative;

  display: flex;
  width: calc(100% + v.$mobile-side-indent);
  padding: 0;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: v.$tablet-width) {
    width: calc(100% + 67px);

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: v.$desktop-width) {
    width: calc(100% + v.$desktop-side-indent);
  }
}

.programs-form__legend-contacts {
  margin-bottom: 35px;
  padding-top: 16px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 76px;
  }
}

.programs-form__legend-comments {
  margin-bottom: 38px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 76px;
  }
}

.programs-form__legend-additional {
  margin-bottom: 34px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 57px;
  }
}

.programs-form__field-textarea {
  width: 100%;
  min-height: 150px;
  padding: 9px 0;
  padding-left: 15px;
  padding-right: 12px;

  border: 1px solid #e7e7e7;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-width: 2px;
    padding-left: 14px;
    padding-top: 8px;
    border-color: v.$special-text;
    outline: none;

    @media (min-width: v.$tablet-width) {
      padding-left: 19px;
    }
  }

  &::placeholder {
    font-family: "Oswald", system-ui, sans-serif;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: v.$special-text;

    opacity: 1;

    @media (min-width: v.$tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: v.$tablet-width) {
    min-height: 174px;
    padding-left: 20px;
  }
}

.programs-form__field-send {
  width: 100%;
  min-height: 40px;
  margin-bottom: 21px;
  padding: 10px;

  font-family: "Oswald", system-ui, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: v.$white;
  background-color: v.$basic-color;

  border: 0;

  @media (min-width: v.$tablet-width) {
    width: 282px;
    min-height: 52px;
    margin-bottom: 0;
    margin-left: 3px;

    font-size: 20px;
  }

  @media (min-width: v.$desktop-width) {
    width: 568px;
    margin-left: 0;
  }
}

.programs-form__fieldset-contacts {
  margin-bottom: 10px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 48px;
  }

  .programs-form__legend::before {
    @media (min-width: v.$tablet-width) {
      content: "";

      position: absolute;
      top: 37px;
      left: -67px;
      right: calc(100% + 37px);

      display: block;
      height: 2px;

      background-color: v.$basic-color;
    }

    @media (min-width: v.$desktop-width) {
      left: - v.$desktop-side-indent;
    }
  }

  .programs-form__legend::after {
    content: "";

    display: block;
    min-width: 100px;
    height: 2px;
    margin-left: 18px;
    margin-top: 16px;
    flex-grow: 1;

    background-color: v.$basic-color;

    @media (min-width: v.$tablet-width) {
      min-width: 67px;
      margin-left: 42px;
      margin-top: 21px;
    }

    @media (min-width: v.$desktop-width) {
      min-width: v.$desktop-side-indent;
      margin-left: 40px;
    }
  }

  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.programs-form__fieldset-comments {
  margin-bottom: 9px;

  @media (min-width: v.$tablet-width) {
    margin-bottom: 50px;
  }

  .programs-form__legend::before {
    @media (min-width: v.$tablet-width) {
      content: "";

      position: absolute;
      top: 22px;
      left: -67px;
      right: calc(100% + 37px);

      display: block;
      height: 2px;

      background-color: v.$basic-color;
    }

    @media (min-width: v.$desktop-width) {
      left: - v.$desktop-side-indent;
    }
  }

  .programs-form__legend::after {
    content: "";

    display: block;
    min-width: v.$mobile-side-indent;
    height: 2px;
    margin-top: 15px;
    margin-left: 23px;
    flex-grow: 1;

    background-color: v.$basic-color;

    @media (min-width: v.$tablet-width) {
      min-width: 67px;
      margin-left: 42px;
      margin-top: 22px;
    }

    @media (min-width: v.$desktop-width) {
      min-width: v.$desktop-side-indent;
      margin-left: 40px;
    }
  }
}

.programs-form__fieldset-additional {
  margin-bottom: 23px;

  @media (min-width: v.$desktop-width) {
    margin-bottom: 30px;
  }

  .programs-form__legend::before {
    @media (min-width: v.$tablet-width) {
      content: "";

      position: absolute;
      top: 22px;
      left: -67px;
      right: calc(100% + 37px);

      display: block;
      height: 2px;

      background-color: v.$basic-color;
    }

    @media (min-width: v.$desktop-width) {
      left: - v.$desktop-side-indent;
    }
  }

  .programs-form__legend::after {
    content: "";

    display: block;
    min-width: v.$mobile-side-indent;
    height: 2px;
    margin-left: 23px;
    margin-top: 15px;
    flex-grow: 1;

    background-color: v.$basic-color;

    @media (min-width: v.$tablet-width) {
      min-width: 67px;
      margin-left: 44px;
      margin-top: 22px;
    }

    @media (min-width: v.$desktop-width) {
      min-width: v.$desktop-side-indent;
      margin-left: 40px;
    }
  }

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 6fr 5fr;
  }

  @media (min-width: v.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.programs-form__tip {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  line-height: 16px;

  @media (min-width: v.$tablet-width) {
    display: block;
    margin-bottom: 0;
    padding-bottom: 7px;

    font-size: 16px;
  }

  @media (min-width: v.$desktop-width) {
    padding-bottom: 0;
  }
}

.programs-form__button-wrapper {
  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 6fr 5fr;
    margin-bottom: 72px;
    align-items: center;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 82px;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs-form__fieldset-wrapper {
  @media (min-width: v.$desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
  }
}

.programs-form__fieldset-type-of-program {
  box-sizing: content-box;

  transform: translateX(- v.$mobile-side-indent);

  width: 100%;
  padding: 0 v.$mobile-side-indent;
  padding-top: 20px;
  padding-bottom: 3px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: v.$tablet-width) {
    box-sizing: border-box;

    transform: none;

    margin-bottom: 57px;
    margin-left: 3px;
    padding: 20px 28px;
    padding-bottom: 5px;

    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 51px;
    padding-left: 25px;
  }
}

.programs-form__phone-img {
  position: absolute;
  top: 13px;
  right: 13px;

  @media (min-width: v.$tablet-width) {
    top: 17px;
  }

  @media (min-width: v.$desktop-width) {
    top: 15px;
  }

  color: #222222;
}

.programs-form__mail-img {
  position: absolute;
  top: 17px;
  right: 16px;

  color: #222222;

  @media (min-width: v.$tablet-width) {
    top: 19px;
    right: 19.5px;
  }
}
