@use "../variables.scss" as v;

$column-gap: 12px;

.results {
  border-spacing: $column-gap 0;
}

.results__cell {
  position: relative;
  width: 50%;

  &:first-child {
    left: -$column-gap;
  }

  &:last-child {
    right: -$column-gap;
  }
}

.results__head {
  display: table-footer-group;

  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  text-align: center;
  color: v.$special-text;

  th {
    font-weight: inherit;
  }

  @media (min-width: v.$tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.results__body {
  font-family: "Oswald", system-ui;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: v.$black;

  @media (min-width: v.$tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
