@use "../variables.scss" as v;

.social__list {
  @include v.list-reset;
  display: flex;
  justify-content: center;

  @media (max-width: v.$mobile-only-width) {
    margin-bottom: 28px;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.social__item {
  padding: 23px 15px;
}
