@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
}
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
}
.vissually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.card-additional {
  padding-top: 13px;
  padding-bottom: 19px;
}

.card-additional__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.card-additional__table {
  width: 100%;
}

.card {
  display: grid;
  padding-top: 19px;
  padding-bottom: 25px;
  grid-template-columns: 1fr 1fr;
}

.card__image {
  grid-row: 1/3;
}

.card__title {
  margin: 0;
  margin-bottom: 14px;
  width: 50%;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.card__table {
  margin-bottom: 22px;
}

.cooperation {
  display: flex;
  padding-top: 26px;
  padding-bottom: 26px;
}

.cooperation--dark {
  background-color: #f2f2f2;
}

.cooperation__description {
  margin: 0;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.cooperation__address {
  line-height: 20px;
  color: #444444;
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.example {
  background-color: #eaeaea;
  padding-top: 25px;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
}

.example__results {
  margin-bottom: 20px;
}

.gift {
  margin: 35px 0;
  padding: 1px;
  width: 280px;
  min-height: 290px;
  background-color: #68b738d9;
  background-image: linear-gradient(to top, #68b738d9, #68b738d9), url("../../img/gift-cat.jpg");
}
.gift::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-top: 59px;
  margin-bottom: 48px;
  background-image: url("../../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.gift__description {
  display: block;
  width: 60%;
  margin: 0 auto;
  font-family: "Arial", system-ui;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.guide__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.guide__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.guide__item {
  display: flex;
  color: #444444;
  margin-bottom: 20px;
}
.guide__item::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 20px;
  background-color: #68b738d9;
  background-position: center;
}
.guide__item--leaf::before {
  background-image: url("../../img/icon-leaf.svg");
}
.guide__item--tube::before {
  background-image: url("../../img/icon-tube.svg");
}
.guide__item--eat::before {
  background-image: url("../../img/icon-eat.svg");
}
.guide__item--alarm::before {
  background-image: url("../../img/icon-alarm.svg");
}

.load-more {
  padding: 25px 0;
}

.load-more__title {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.load-more__description {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 21px;
  font-family: "Arial", system-ui;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.load-more__button {
  display: block;
  width: 100%;
  min-height: 40px;
  border: 0;
  cursor: pointer;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #f2f2f2;
}

.main-card {
  margin-bottom: 20px;
  padding: 21px 0;
  background-color: #f2f2f2;
}

.main-card__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.main-card__description {
  margin: 0;
  margin-bottom: 42px;
  font-family: "Arial", system-ui;
  color: #444444;
}

.main-card__link {
  display: block;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.main-catalog__title {
  margin-top: 27px;
  margin-bottom: 40px;
  font-family: "Oswald", system-ui;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.main-container__guide {
  margin-bottom: 50px;
}

.main-footer {
  margin-top: auto;
}

.main-footer__copyright {
  margin-bottom: 22px;
}

.main-form__title {
  margin-top: 27px;
  margin-bottom: 37px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-form__advice {
  display: block;
  margin-bottom: 39px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  text-transform: uppercase;
}

.main-form__tip {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  line-height: 16px;
}

.main-header {
  display: flex;
  margin-bottom: 24px;
}

.main-nav {
  position: relative;
  z-index: 1;
}
.main-nav:hover .main-nav__list {
  display: block;
  background-color: #ffffff;
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  font-family: "Oswald", system-ui;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.main-nav__item a {
  color: inherit;
}

.map__inner {
  position: relative;
  overflow: hidden;
}

.map__link {
  position: absolute;
  top: 0;
  font-size: 12px;
  color: #eeeeee;
}

.map__link-place {
  position: absolute;
  top: 14px;
  font-size: 12px;
  color: #eeeeee;
}

.map__frame {
  position: relative;
}

.order-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  grid-column: 1/3;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738d9;
}

.page__body {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  font-family: "Arial", system-ui;
}

.product-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-catalog__subtitle {
  margin-top: 25px;
  margin-bottom: 36px;
}

.product-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}

.product-description__body th {
  font-weight: inherit;
}
.product-description__body td {
  text-align: right;
}

.programs-form__fieldset {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  border: 0;
}

.programs-form__field {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.programs-form__field-label {
  margin-right: 13px;
  white-space: nowrap;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
.programs-form__field-label--radio {
  color: #222222;
}
.programs-form__field-label--checkbox {
  color: #000000;
}

.programs-form__field-control {
  width: 100%;
  min-height: 45px;
  align-self: flex-end;
}
.programs-form__field-control::placeholder {
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.programs-form__legend {
  display: block;
  width: 60%;
  margin-bottom: 35px;
  padding: 0;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
}

.programs-form__field-textarea {
  width: 100%;
  min-height: 150px;
}
.programs-form__field-textarea::placeholder {
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.programs-form__field-send {
  width: 100%;
  min-height: 40px;
  margin-bottom: 21px;
  padding: 0;
  border: 0;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738d9;
}

.programs__inner {
  width: 320px;
  min-height: 302px;
  padding-top: 27px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/main-background-cat.jpg");
  background-repeat: no-repeat;
  background-color: #68b738d9;
}

.programs__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Oswald", system-ui;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.programs__slogan {
  margin: 0 auto;
  font-family: "Oswald", system-ui;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.programs__link {
  display: block;
  margin-bottom: 20px;
  background-color: #68b738d9;
  font-family: "Oswald", system-ui;
  text-transform: uppercase;
  color: #ffffff;
}

.rangebar {
  display: flex;
}

.rangebar__description {
  display: block;
  font-family: "Oswald", system-ui;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.results__head {
  display: table-footer-group;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  color: #444444;
}
.results__head th {
  font-weight: inherit;
}

.results__body {
  font-family: "Oswald", system-ui;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__price {
  display: block;
  margin-bottom: 40px;
  font-family: "Oswald", system-ui;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.slider__rangebar {
  padding-top: 15px;
  padding-bottom: 40px;
}

.social__list {
  display: flex;
}

.textarea {
  resize: none;
}
/*# sourceMappingURL=style.css.map */