$basic-color:#68b738;
$secondary-color: #f2f2f2;
$white: #ffffff;
$black: #000000;
$special-text: #444444;
$status-error: #ff8282;

$mobile-only-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

//Containers indent
$mobile-side-indent: 20px;
$tablet-side-indent: 30px;
$desktop-side-indent: 110px;

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin page-margin() {
  margin: 0 $mobile-side-indent;

  @media (min-width: $tablet-width) {
    margin: 0 $tablet-side-indent;
  }

  @media (min-width: $desktop-width) {
    margin: 0 $desktop-side-indent;
  }
}
